*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: blue;
}

.memory-game{
    border: 2px solid;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid lime;
    perspective: 1000px;
}


.memory-card{
    width: 50%;
    height: 40%;
    position: relative;
    border: 2px solid aqua; 
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    background: #1c7ccc;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}